<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="forecastStyles.css" rel="stylesheet"/>-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forecastStyles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>Forecast</title>
</head>
<body>
    <!--<nav id="item-selection">-->
    <nav id="navbar">
        <header>Select Consumable</header>
        <form method="post" action="/run_script">
            <button type="submit" id="water-button" name="consumable_name" value="Water">Water</button>
            <button type="submit" id="air-button" name="consumable_name" value="Oxygen">Oxygen</button>
            <button type="submit" id="food-button" name="consumable_name" value="US Food BOBs">Food</button>
        </form>

    <!--img and output will remain hidden unless button is selected-->

    </nav>
    <div>
        <h1>Consumable selected: {{ consumable }}</h1>
    </div>
    <div id="display-info">
        <div id="cons_table">
            <!--html table  was prev table_html thats why it wasnt displaying-->
            {% if table_data %}
                {{ table_data|safe }}
            {% endif %}
        </div>
        <div id="nextto-table">
            <div id="date">
                <p>{{greatest_date}}</p>
            </div>
            <div id="largest-qty">
                <p>{{qty}}</p>
            </div>
            <div id="plot">
                {{ plot_html|safe }}
            </div>
            <div id="line">
                {{ line_html|safe }}
            </div>
        </div>


    </div>

   
</body>
</html>