<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="forecastStyles.css" rel="stylesheet"/>-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forecastStyles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>Forecast</title>
</head>
<body>
    <!--<nav id="item-selection">-->
    <nav id="navbar">
        <header>Select Consumable</header>
        <form method="post" action="/run_script">
            <button type="submit" id="water-button" name="consumable_name" value="Water">Water</button>
            <button type="submit" id="air-button" name="consumable_name" value="Oxygen">Oxygen</button>
            <button type="submit" id="food-button" name="consumable_name" value="US Food BOBs">Food</button>
            <button type="submit" id="acy-button" name="consumable_name" value="ACY Inserts">ACY Inserts</button>
            <button type="submit" id="fi-button" name="consumable_name" value="Filter Inserts">Filter Inserts</button>
            <button type="submit" id="kto-button" name="consumable_name" value="KTO">KTO</button>
            <button type="submit" id="nitrogen-button" name="consumable_name" value="Nitrogen">Nitrogen</button>
            <button type="submit" id="pt-button" name="consumable_name" value="Pretreat Tanks">Pretreat Tanks</button>
            <button type="submit" id="ur-button" name="consumable_name" value="Urine Receptacle">Urine Receptacle</button>
        </form>

    <!--img and output will remain hidden unless button is selected-->

    </nav>
    <div>
        <h1>{{message}}</h1>
    </div>
    <div id="display-info">
        <div id="cons_table">
            <!--html table  was prev table_html thats why it wasnt displaying-->
            {% if table_data %}
                {{ table_data|safe }}
            {% endif %}
        </div>
        <div id="nextto-table">
            <div id="p_diff">
                <p>{{percent_diff_q}}</p>
                <p>{{percent_diff}}</p>
            </div>
            <div id="date">
                <p>{{greatest_date}}</p>
            </div>
            <div id="days-rem">
                <p>{{days_rem}}</p>
            </div>
            <div id="largest-qty">
                <p>{{qty}}</p>
            </div>
            <div id="bar">
                {{bar_html|safe}}
            </div>
            <div id="plot">
                {{ plot_html|safe }}
            </div>

        </div>


    </div>

   
</body>
</html>