body {
    background-color: rgb(0, 0, 30);
    color: rgb(200, 200, 200);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    width: 35%;
}
#item-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
#item-selection button{
    background-color: rgb(0, 0, 0);
    padding: 30rem, 50rem, 30rem, 50rem;
    width: 150px;
    height: 50px;
    color: rgb(200, 200, 200);
    border-radius: 10%;
}

#item-opt-output{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 200%;
    margin-bottom: 5%;
}

